@import "tailwindcss";

:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /******************* COMMON ***************************/
  --color-bg: #eaecee;
  --color-background-primary: #ffffff;
  --color-background-secondary: #f1f5f9;
  
  --color-border-primary: #e2e8f0;
  --color-border-accent: #7048e8;
  --color-border-accent-dark: #5a36b5;
  
  --color-text-primary: #1e293b;
  --color-text-secondary: #64748b;
}

body {
  background-color: var(--color-bg);
  padding: 0;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100vw;
}
